.infa{
  position:relative;
  background: url(../images/infa.png) 0 100% no-repeat;
  display: block;
  width: 16px;
  height: 15px;
  float: left;
  cursor: pointer;
  margin-left: 8px;
}

.descript,
.descript-left {
  display:none;
  position:absolute;
  z-index:9998;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #000;
  font: normal 500 14px Trebuchet MS;
  text-align:left;
  text-shadow: 0 1px 2px #fff, 0 0 10px #E0F1FF;
  text-decoration: none;
  opacity: 1;
  cursor:default;
  margin-top:-30px;
  width: 200px;
  min-height: 50px;
  max-height: auto;
  white-space: normal;
  padding: 15px 18px 2px 18px;
}
/*.descript{
  width: 256px;
  height: 100%;
  min-height: 150px;
  -moz-box-shadow: 3px 5px 16px rgba(32,32,29,.39);
  -webkit-box-shadow: 3px 5px 16px rgba(32,32,29,.39);
  box-shadow: 3px 5px 16px rgba(32,32,29,.39);
  position: absolute;
  bottom: 48px;
  left: 52%;
  z-index: 3;
  padding: 15px 18px 2px 18px;
}*/

.descript {
 box-shadow: 5px 5px 0.5em -0.1em rgba(0,0,6,0.5);
 right: -240px;
 padding: 5px 20px 7px 7px;
}
.descript-left {
 box-shadow: -5px 5px 0.5em -0.1em rgba(0,0,6,0.5);
 left: -240px;
 padding: 5px 7px 7px 20px;
}
.a-top {
 bottom: -10px;
}
.a-bot {
 top: 15px;
}
.a-top:before,
.descript:before,
.descript-left:before {
 content:"";
 position:absolute;
 background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAaElEQVR4XoWQMQ6AMAwDna6wMXTjB/x/7E4i9SV9AwgxuJKDcKfqrlVizInrObwLHLng9sKhgm8nIQV4eWAFJig/EIogUATCTPh7zZUUuqHXOL4m7waglViyvVthNXvaGhNr2jnTLQTenE8VKUp0n4sAAAAASUVORK5CYII=) no-repeat;
 width: 9px;
 height: 15px;
}
.descript:before {
 left: -9px;
 margin-top: 10px;
 background-position: 0 0;
}
.descript-left:before {
 right: -9px;
 margin-top: 10px;
 background-position: -9px 0;
}
.a-top:before {
 bottom: 10px;
}

.des-tit{
  font-family: 'HelveticaNeueCyr-Light';
  color: #00a8ff;
  font-weight: 600;
  font-size: 18px;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.des-name{text-align: left;}
.des-des{background: url(../images/tick.png)0 100% no-repeat;padding: 0 0 0 45px;display: block; min-height: 45px; margin-top:10px; text-align: left;}

