@charset "utf-8";
/* CSS Document */

@font-face {
	font-family:'HelveticaNeueCyr-Light';
	src: url('../fonts/HelveticaNeueCyr-Light_latin+latin-ext+cyrillic-ext_gdi.eot');
	src: url('../fonts/HelveticaNeueCyr-Light_latin+latin-ext+cyrillic-ext_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Light_latin+latin-ext+cyrillic-ext_gdi.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Light_latin+latin-ext+cyrillic-ext_gdi.ttf') format('truetype'),
		url('../fonts/HelveticaNeueCyr-Light_latin+latin-ext+cyrillic-ext_gdi.svg#HelveticaNeueCyr-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2116;
}
@font-face {
	font-family:'Politica-Regular';
	src: url('../fonts/Politica_latin+latin-ext+cyrillic-ext_gdi.eot');
	src: url('../fonts/Politica_latin+latin-ext+cyrillic-ext_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Politica_latin+latin-ext+cyrillic-ext_gdi.woff') format('woff'),
		url('../fonts/Politica_latin+latin-ext+cyrillic-ext_gdi.ttf') format('truetype'),
		url('../fonts/Politica_latin+latin-ext+cyrillic-ext_gdi.svg#Politica-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2116;
}
html,body{
	margin:0;
	padding:0;
	height:100%;

}
body {
	font:100%;
	color:#000;
	font-size: 14px;
	font-family: 'HelveticaNeueCyr-Light';
}


h1, h2, h3, h4, h5, h6  { font-weight:normal; font-style:normal; font-family:'Politica-Regular', sans-serif; color:#000; }

h1  {font-size:3.7em; margin:20px 0; padding:15px 0 10px ;}
h2  {font-size:1.12em;}
h3  {font-size:1em;}
h4  {font-size:0.87em;}
h5  {font-size:0.75em;}
h6  {font-size:0.62em;}

img  { border:none; }

a  { color:#; outline-style:none; text-decoration:underline;
 -webkit-transition: all 500ms;
 	-moz-transition: all 500ms;
 	  -o-transition: all 500ms;
         transition: all 500ms;
}
a:hover  { color:#0093db; }
a img  { border:none; }


.lop{background: #011c2c; width: 100%;position: relative; height: 290px;}

.bg_main{
	/*background: none repeat scroll 0 0 rgba(0, 0, 0, 0);*/
	background: #D5DFE6;
    bottom: 0;
    margin: 50px 0 0;
    overflow: hidden;
    position: absolute;
    top: 84px;
    transform: skewY(-4deg);
    -webkit-transform:skewY(-4deg);
	-moz-transform:skewY(-4deg);
	-o-transform:skewY(-4deg);
	-ms-transform:skewY(-4deg);
	width: 100%;
	min-width: 990px;
}
.bg{
 	background: #d5dfe6;
	height:1400px;
    position: absolute;
     transform: skewY(4deg);
    -webkit-transform:skewY(4deg);
	-moz-transform:skewY(4deg);
	-o-transform:skewY(4deg);
	-ms-transform:skewY(4deg);
    width: 100%;
	min-width: 990px;}

.puska{background: #fff;
	position: absolute;
	top: 160px;
	width: 100%;
	min-width: 990px;
	height: 3px;

	transform: skewY(-4deg);
    -webkit-transform:skewY(-4deg);
	-moz-transform:skewY(-4deg);
	-o-transform:skewY(-4deg);
	-ms-transform:skewY(-4deg);
}

/*-----------------------structure-----------------------*/

.wrapper{margin:0 auto -128px;	min-height: 100%; height: auto; background: #fff; min-width: 990px; }
.minus{margin: 0 auto -128px}
.cont{background: #081e2c}
.clear::after {content: ''; display: block; clear: both; height: 0px; font-size:0; line-height:0; visibility: hidden;}
div.clears {
	clear:both;
	font-size:0;
	line-height:0;
	height:0;}

.main-container{width: 1366px; margin: 0 auto; padding: 0;}
.container{width: 990px; margin: 0 auto; padding: 0px 5px;  }

.bodz{background: url(../images/txt_bg.png) 0 -20px no-repeat; width: 550px; height: 580px; padding: 0px 30px 0;  line-height: 1.5em; float: left;}
.download{background: url(../images/download.png) 0 0 no-repeat; width: 125px; height: 100px; float: left; padding: 48px 0 0 100px;}
.dowlo{font-size: 0.87em; color: #000; text-decoration: none; display: block; width: 90px;}

.logo{float: left;}
.menu{margin: 50px 0 0 50px; float: left; width: 600px}
.menu_list{ margin:0; padding:0; list-style: none; position: relative; z-index: 9; }
.menu_list>li{ float: left; line-height: 25px; display: block; position: relative; margin: 0 10px;}
.menu_list li:hover{ background: #00a8ff;}
.menu_list>li a{display: inline-block; font-size: 0.85em; text-decoration: none; color: #fff; text-transform: uppercase;}
.menu_list>li a span { display:block; padding:0 17px 0 17px; margin:0 0 0 -1px}
.menu_list>li:hover>li{background: none;}
.menu_list>li>ul{background: rgba(17, 8, 9, 0.85); width: 200px; padding: 5px 0 5px 10px; margin: 0;display: none; position: absolute; cursor: pointer; z-index: 9;}
.menu_list>li:hover>ul{display: block; cursor: pointer;}
.menu_list>li>ul>li{
    list-style: none;
    margin: 3px 0 3px 0;
    padding: 0px 0 0px 10px;
    cursor: pointer;
   
}
.menu_list>li>ul>li:hover{ background: #00a8ff; cursor: pointer;}
.menu_list>li>ul>li>a{text-decoration: none; font-size: 0.95em; width: 100%; text-transform: none; cursor: pointer; display: inline;}
.menu_list>li>ul>li>a:hover{}
.menu_list>li:hover::before{
	background: none;
    border-bottom: 26px solid #00a8ff;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 0 solid rgba(0, 0, 0, 0);
    content: "";
    left: -10px;
    position: absolute;
    top: 0px;}
.menu_list>li:hover::after{
	border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-top: 25px solid #00a8ff;
    content: "";
    height: 0;
    position: absolute;
    right: -10px;
    top: 0;
    width: 0; }

/*----------- active menu 1lev-------*/
.menu_list> .active{background: #00a8ff;}
.menu_list> .active::before{
	background: none;
    border-bottom: 26px solid #00a8ff;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 0 solid rgba(0, 0, 0, 0);
    content: "";
    left: -10px;
    position: absolute;
    top: 0px;}
.menu_list> .active::after{
	border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-top: 25px solid #00a8ff;
    content: "";
    height: 0;
    position: absolute;
    right: -10px;
    top: 0;
    width: 0; }
.menu_list>li>ul> .active{ background: #00a8ff; cursor: pointer;}
/*----------- active menu 1lev-------*/

.anti_foot{height: 128px; }
/*content*/

footer{width: 100%; min-width: 990px; height: 128px;  color: #fff; position: relative; clear: both;}
.fcontact{position: relative; top: 40px; left: 200px; z-index: 2; width: 200px; height: 80px;font-family: 'HelveticaNeueCyr-Light';}
.fcontact p{padding: 0; margin-top: 2px; color: #000;}
.ftel{ font-size: 1.45em; text-decoration: none; color: #000;}
.fmail{ font-size: 0.87em; color: #000; text-decoration: none;}
.fmail span{ color: #00a8ff;}
.pushka{
	background: url(../images/pushka_bg.png)0 0 no-repeat;
	height: 25px;
	width: 222px;
	font-family: 'HelveticaNeueCyr-Light';
	font-size: 0.75em;
	position: relative; right: 0px; top: 10px; z-index: 2;
	padding: 5px 0 0 10px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	display: block;
	float: right;
}
/*--------------------------contact page-------------------------*/
.co{margin-left: 160px; min-height: 100%}
.contact{
	background: none; z-index: 99;

	width: 100%;
	min-width: 990px;
	height:170px;
	margin:0 auto;

	position: absolute;
    top: 0;
	}

.laf{
	background: none repeat scroll 0 0 rgb(8, 30, 44);
    height: auto;
    min-height: 100%;
    width: 200px;
}

.imgs{background: url(../images/bg2.jpg) 50% 100% no-repeat; min-width: 990px; min-height: 865px; position: relative;
	z-index: 2; bottom: 0px; padding: 10px 0 0 0}

.left-lop{
	float: left;
    height: 100%;
    min-height: 100%;
    position: absolute;
    left: -210px;
    color: #fff;
    transform: skewX(-6deg);
     -webkit-transform:skewX(-6deg);
	-moz-transform:skewX(-6deg);
	-o-transform:skewX(-6deg);
	-ms-transform:skewX(-6deg);
    width: 700px;
    z-index: 9;
    background: #081e2c url(../images/left_blog.png) 247px 0 no-repeat;
	-moz-box-shadow: 30px 51px 103px rgba(32,32,29,.85);
	-webkit-box-shadow: 30px 51px 103px rgba(32,32,29,.85);
	box-shadow: 30px 51px 103px rgba(32,32,29,.85);
}
.content-lo{
	position: relative;
	top: 140px;
	left: 415px;
	width: 215px;
	transform: skewX(5deg);
    -webkit-transform:skewX(5deg);
	-moz-transform:skewX(5deg);
	-o-transform:skewX(5deg);
	-ms-transform:skewX(5deg)
}
.content-lo>h1{color: #fff; font-size: 60px;}
.antis_foot{height: 128px;margin: 0;}
.pos{position: relative; z-index: 9; }
.shad{background: url(../images/shad.png)0 0 repeat-x; height: 215px; z-index: 9; position: absolute;width: 100%;min-width: 990px;}
.contr{color: #00a8ff; text-decoration: none;}
.fcontact{position: relative; top: 40px; left: 200px; z-index: 2; width: 200px; height: 80px;font-family: 'GothamPro-Regular';}

.soc{display: block; height: 30px;}
.skype{background: url(../images/skype.png) 0 0 no-repeat; width: 38px; height: 32px; display: block; float: left; margin: 0 1px;}
.skype:hover{background: url(../images/skype.png) 0 0 no-repeat;}
.odno{background: url(../images/odno.png) 0 0 no-repeat; width: 38px; height: 32px; display: block; float: left;margin: 0 1px;}
.odno:hover{background: url(../images/odno.png) 0 0 no-repeat;}
.vk{background: url(../images/vk.png) 0 0 no-repeat; width: 38px; height: 32px; display: block; float: left; margin: 0 1px;}
.vk:hover{background: url(../images/vk.png) 0 0 no-repeat;}
.fb{background: url(../images/fb.png) 0 0 no-repeat; width: 38px; height: 32px; display: block; float: left; margin: 0 1px;}
.fb:hover{background: url(../images/fb.png) 0 0 no-repeat;}
.twit{background: url(../images/twit.png) 0 0 no-repeat; width: 38px; height: 30px; display: block; float: left; margin: 0 1px;}
.twit:hover{background: url(../images/twit.png) 0 0 no-repeat;}
.insta{background: url(../images/insta.png) 0 0 no-repeat; width: 38px; height: 30px; display: block; float: left; margin: 0 1px;}
.insta:hover{background: url(../images/insta.png) 0 0 no-repeat;}
/*------------------------contact page end-----------------------*/
.pos>.fcontact p{padding: 0; margin-top: 30px; color: #fff;}

.cover{
	width: 100%;
	min-width: 990px;
	background: #D5DFE6;
    position: absolute;
    top: -48px;
    transform: skewY(-4deg);
    -webkit-transform:skewY(-4deg);
	-moz-transform:skewY(-4deg);
	-o-transform:skewY(-4deg);
	-ms-transform:skewY(-4deg);
	background: #011C2C;
}
.cover-bg{
	background: url(../images/top2.png) 50% 0 no-repeat;
	height: 170px;
	width: 100%;
}
.cover-in{transform: skewY(4deg);
    -webkit-transform:skewY(4deg);
	-moz-transform:skewY(4deg);
	-o-transform:skewY(4deg);
	-ms-transform:skewY(4deg);
	padding-top: 40px;
}

header {
	width: 100%;
	min-width: 990px;
	height:170px;
	margin:0 auto;

	position: relative;
    top: 0;
}
.z{width: 900px; display: block; min-height:100%!important; }

.s{
	background: #d5dfe6 url(../images/bg23.jpg) 100% 0 no-repeat;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.ma{
	background: #fff url(../images/bg4.jpg) 100% 0 no-repeat;
	top:-40px;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.pa{
	background: #fff url(../images/bg3.jpg) 100% 0 no-repeat;
	top:-40px;
	-webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
}
.partner{width: 400px;}

.cal{padding: 0 45px;}
.calc-blog{
    /*background: #e2ecf1 url(../images/calc.png) 45px 7px no-repeat;*/
    background: #e2ecf1 45px 7px no-repeat;
    /*min-height: 95px;*/
    padding-top: 15px
}
.row{
    display: table;
    width: 100%;
    margin-top: 3px;
    height: 110px;
}
.cell-row-1{
    display: table-cell;
    width: 20%;
    background: #e2ecf1 url(../images/calc.png) 45px 7px no-repeat;

}
.cell-row-2{
    display: table-cell;
    width: 80%;
}
.row-level-2{
    display: table;
    width: 100%;
}
.cell-level-2{
    display: table-cell;
    width: 33%;
    text-align: right;
}
.wleft{float: left; text-align: center; margin-left: 40px;}
.long{width: 100%!important;}
div.required label:after {
    content: " *";
    color: red;
}
/*form{width: 300px;}*/
form>title{width: 300px; font-size: 21px; }
.asks
	 {width: 280px; margin: 5px 0; border:1px solid #b4b4b4; height: 32px; padding: 0 0 0 10px }
textarea{height: 135px!important;}
input[type="submit"]{background: #3c3c3c; padding: 7px 10px; margin:5px auto 0;  border:none; color: #fff; display: block;}

table.calc-tab{margin-left: 170px; max-width: 730px; border:none;}
table.calc-tab>tr{height: 30px; border:none;}
.enter{width: 170px; height: 30px; line-height: 28px; display: inline-block; border:none; text-align: right;}
.calcs{ width: 100%; height: 100%; border:none; padding-left: 5px;}
.data{width: 40px; height: 30px; display: inline-block; border:none;}
.q{height: 30px; line-height: 28px; display: inline-block; border:none; text-align: right; width: 220px; font-family: 'HelveticaNeueCyr-Light'; color: #00a8ff; font-weight: 600; font-size: 15px;}


.select-blog{margin-top: 30px; width: 100%; min-height: 330px;}
.add-blog{float: left; width: 33.3%; position: relative;}
.in{width: 85%; margin-top: 30px; padding: 0 25px;}
.add-head{
	height: 33px;
	padding: 12px 40px 0;
	font-family: 'HelveticaNeueCyr-Light';
	color: #00a8ff;
	font-weight: 600;
	font-size: 1.5em;
	text-align: center;
	background: #e2ecf1;}
.add-in{width: 320px; float: left; margin-top: 5px;}
.add-in p{float: left; margin: 0; padding: 0; max-width: 240px;}
.add-in>p>span>input[type="number"]{width: 30px; background: none; border: none;}

.chose{width: 24px; height: 20px; float: left; padding: 0px 10px 0 15px;}

.add-serv{margin-top: 30px;}
.add-serv>.add-head{text-align: left;}
.blogz{margin-top: 10px; }
.add-serv>.blogz>.add-in{width: 100%}
.add-serv>.blogz>.add-in> p{max-width: 800px}
.sum{
	width: 500px;


	float: right;
	font-family: 'HelveticaNeueCyr-Light';
	color: #00a8ff;
	font-weight: 600;
	font-size: 1.5em;
}
.sum p{display: inline-block;float: left;}
.sum p span{
	font-size: inherit;}
.sum input[type="submit"]{
	display: inline-block;
	float: right;
	width: 160px;
	height: 40;
	color: #00a8ff;
	font-size: 18px;
	background: #e2ecf1;
	margin-top:14px;
	cursor: pointer;
}
.sub{float: right;}
.sub table{height: 70px; padding: 0; margin: 0; border-collapse: collapse;}
.left-tab{width: 620px; padding-right: 20px;}
.left-tab>input[type="text"]{float: left; width: 300px; height: 28px; margin-top: 4px; border: 1px solid #000; padding-left: 4px}
.left-tab .rig{float: right!important; margin-right: -6px;}

/*.left-tab>.long{width: 100%  !important; float: left;}*/

.right-tab{ width: 160px;}
.calc-button{
	background: #019d4b;
	color: #fff;
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 70px;
	cursor: pointer;
	font-size: 1em;
}
.right-tab>input[type="submit"]{
	background: #019d4b; 
	color: #fff; 
	border: none; 
	padding: 0; 
	margin: 0; 
	width: 100%; 
	height: 70px; 
	cursor: pointer;
	font-size: 1em;
}


.org-name{
    /*float: left;*/
    width: 300px;
    height: 28px;
    margin-top: 4px;
    border: 1px solid #000;
    padding-left: 4px;
}
/*.form-group>p{
    display: block;
    float: left;
}
*/.asks_btn{
    background: #3c3c3c;
    padding: 7px 10px;
    margin: 5px auto 0;
    border: none;
    color: #fff;
    display: block;
}
.help-block-error{
}
@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 990px) {
	.imgs{background: url(../images/bg.jpg) 40% 100% no-repeat;}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.left-lop{width: 660px;}
	.hamp{width: 990px}
	.wrapper{min-height: 0px;}
	body{height: 100%}
	.s{background: #d5dfe6 url(../images/bg23.jpg) 0 92px no-repeat;}
	.ma{
	background: #fff url(../images/bg4.jpg) 0 92px no-repeat;}

	}
}
